<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="cbmd">  
  <div class="Highlights_products_container Highlights_container with-mobile-swipe-notice">
    <p class="Highlights_heading">{{section.settings.highlight_heading}}</p>
    <p class="Highlights_title">{{section.settings.highlight_title}}</p>
    <div class="Highlights_products">
      <p class="Highlights_products_description">{{section.settings.description}}</p>
      <div class="Highlights_products_items">

        {%- for block in section.blocks -%}
          {%- assign product_name = block.settings.product_name -%}
          {%- assign product_sub_name = block.settings.product_sub_name -%}
          {%- assign product_description = block.settings.product_description -%}
          {%- assign picture = block.settings.picture -%}
          {%- assign product = all_products[block.settings.product_link] -%}
          {%- assign product_link = block.settings.button_link -%}
          {%- assign product_sub_heading = block.settings.sub_heading  -%}
          {%- assign button_name = block.settings.button_name  -%}

          {%- if product_name != blank and product_sub_name != blank and product_description != blank and picture != blank -%}

              {% case product_name %}
              {% when 'RAW' %}
              {% assign q = 'raw' %}
              {% when 'PMT' %}
              {% assign q = 'pmt' %}
              {% when 'PSY' %}                        
              {% assign q = 'psy' %}
              {% when 'DRM' %}                        
              {% assign q = 'drm' %}
              {% endcase %}

            <div class="Highlights_products_item">
              <div class="highlight_product_image_row">
                <div class="highlight_product_image" style="background-image: url({{ picture | img_url: 'master' }})"></div>
              </div>
              
              <div class="Highlights_products_content">
                <p class="Highlights_products_name">{{- product_name -}}</p>
                <p class="Highlights_products_sub_name">{{- product_sub_name -}}</p>
                <p class="Highlights_for">{{- product_sub_heading -}}</p>
                <p class="Highlights_products_exp">{{- product_description -}}</p>
                <a href="{{ product_link }}?q={{ q }}" class="Highlights_products_link Button Button--cbd Button--red">{{- button_name -}}</a>
              </div>
            </div>

          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="mobile-swipe-notice">Swipe <img src="{{ 'mobile-swipe-icon.svg' | asset_url }}" /></div>
  </div>
</section>  
<style>
  .Highlights_products_container {
    background: {{section.settings.background_color}};
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){

    initProductsSlider();
    $( window ).resize(function() {
      initProductsSlider();   
    });


  });

  function initProductsSlider() {
    if (window.innerWidth > 1096) {
      if ($("#section-{{ section.id }}").find(".Highlights_products").find(".slick-initialized").length > 0) 
        $("#section-{{ section.id }}").find('.Highlights_products_items').slick('unslick');
    }
    else {
      if ($("#section-{{ section.id }}").find(".Highlights_products").find(".slick-initialized").length == 0) 
        initSlick();
    }
  }

  function initSlick() {
    $("#section-{{ section.id }}").find('.Highlights_products_items').slick({
      centerMode: false,
      infinite: false,
      centerPadding: '0px',
      slidesToShow: 4,
      arrows: false,
      variableWidth: true,
      variableHeight: true,
      responsive: [
        {
          breakpoint: 1279,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 3
          }
        },        
        {
          breakpoint: 900,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 1
          }
        }
      ]
    });    
  }
</script>

{% schema %}
{
  "name": "Slider",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "highlight_heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "highlight_title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "product_name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "product_sub_name",
          "label": "Sub Name"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading"
        },        
        {
          "type": "textarea",
          "id": "product_description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "picture",
          "label": "Picture"
        },
        {
          "type": "text",
          "id": "button_name",
          "label": "Button Name"
        },        
        {
          "type": "url",
          "id": "button_link",
          "label": "Product"
        }        
      ]
    }
  ],    
  "presets": [
    {
      "category": "CBMD",
      "name": "Slider",
      "settings": {}
    }
  ]
}
{% endschema %}