<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="cbmd">  
  <div class="cbmd_instagram_container Highlights_container">
    <p class="heading">{{ section.settings.heading}}</p>
    <p class="hashtag">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0)">
      <path d="M12.001 0C8.742 0 8.333 0.0142502 7.053 0.0725002C5.7755 0.131 4.9035 0.33325 4.1405 0.63C3.35125 0.9365 2.68175 1.3465 2.01475 2.01375C1.34725 2.68075 0.93725 3.35025 0.62975 4.13925C0.33225 4.9025 0.12975 5.77475 0.0722499 7.05175C0.0149999 8.33175 0 8.741 0 12C0 15.259 0.0145002 15.6668 0.0725002 16.9468C0.13125 18.2243 0.3335 19.0962 0.63 19.8592C0.93675 20.6485 1.34675 21.318 2.014 21.985C2.68075 22.6525 3.35025 23.0635 4.139 23.37C4.9025 23.6667 5.77475 23.869 7.052 23.9275C8.332 23.9858 8.74075 24 11.9995 24C15.2587 24 15.6665 23.9858 16.9465 23.9275C18.224 23.869 19.097 23.6667 19.8605 23.37C20.6495 23.0635 21.318 22.6525 21.9848 21.985C22.6523 21.318 23.0622 20.6485 23.3697 19.8595C23.6647 19.0963 23.8673 18.224 23.9272 16.947C23.9848 15.667 23.9998 15.259 23.9998 12C23.9998 8.741 23.9848 8.332 23.9272 7.052C23.8673 5.7745 23.6647 4.9025 23.3697 4.1395C23.0622 3.35025 22.6523 2.68075 21.9848 2.01375C21.3173 1.34625 20.6498 0.93625 19.8598 0.63C19.0948 0.33325 18.2222 0.131 16.9447 0.0725002C15.6648 0.0142502 15.2572 0 11.9972 0H12.001ZM10.9245 2.1625C11.244 2.162 11.6005 2.1625 12.001 2.1625C15.205 2.1625 15.5848 2.174 16.85 2.2315C18.02 2.285 18.655 2.4805 19.078 2.64475C19.638 2.86225 20.0373 3.12225 20.457 3.54225C20.877 3.96225 21.137 4.36225 21.355 4.92225C21.5192 5.34475 21.715 5.97975 21.7682 7.14975C21.8258 8.41475 21.8382 8.79475 21.8382 11.9972C21.8382 15.1997 21.8258 15.5797 21.7682 16.8447C21.7148 18.0147 21.5192 18.6497 21.355 19.0723C21.1375 19.6322 20.877 20.031 20.457 20.4508C20.037 20.8708 19.6382 21.1307 19.078 21.3482C18.6555 21.5133 18.02 21.7083 16.85 21.7617C15.585 21.8193 15.205 21.8318 12.001 21.8318C8.79675 21.8318 8.417 21.8193 7.152 21.7617C5.982 21.7077 5.347 21.5122 4.92375 21.348C4.36375 21.1305 3.96375 20.8705 3.54375 20.4505C3.12375 20.0305 2.86375 19.6315 2.64575 19.0713C2.4815 18.6488 2.28575 18.0138 2.2325 16.8438C2.175 15.5787 2.1635 15.1987 2.1635 11.9942C2.1635 8.78975 2.175 8.41175 2.2325 7.14675C2.286 5.97675 2.4815 5.34175 2.64575 4.91875C2.86325 4.35875 3.12375 3.95875 3.54375 3.53875C3.96375 3.11875 4.36375 2.85875 4.92375 2.64075C5.34675 2.47575 5.982 2.28075 7.152 2.227C8.259 2.177 8.688 2.162 10.9245 2.1595V2.1625ZM18.4065 4.155C17.6115 4.155 16.9665 4.79925 16.9665 5.5945C16.9665 6.3895 17.6115 7.0345 18.4065 7.0345C19.2015 7.0345 19.8465 6.3895 19.8465 5.5945C19.8465 4.7995 19.2015 4.1545 18.4065 4.1545V4.155ZM12.001 5.8375C8.59775 5.8375 5.8385 8.59675 5.8385 12C5.8385 15.4032 8.59775 18.1612 12.001 18.1612C15.4042 18.1612 18.1625 15.4032 18.1625 12C18.1625 8.59675 15.404 5.8375 12.0007 5.8375H12.001ZM12.001 8C14.21 8 16.001 9.79075 16.001 12C16.001 14.209 14.21 16 12.001 16C9.79175 16 8.001 14.209 8.001 12C8.001 9.79075 9.79175 8 12.001 8Z" fill="black"/>
      </g>
      <defs>
      <clipPath id="clip0">
      <rect width="23.9998" height="24" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      <span>
        <a href="{{ settings.social_instagram }}" target="_blank">{{ section.settings.hashtag}}</a>
      </span>
    </p>
    <div class="items">
      {%- for block in section.blocks -%}
        {%- assign img = block.settings.link_image -%}
        <div class="item">
          <img class="instagram_img" src="{{ img | img_url: 'master' }}" >
        </div>
      {%- endfor -%}
    </div>
  </div>


<script type="text/javascript">
  $(document).ready(function(){
    initInstagramSlider();
    $( window ).resize(function() {
      initInstagramSlider();   
    });    
    
    function initInstagramSlider() {
      var breakpoint = 1280;
      if (window.innerWidth >= breakpoint) {
        if ($("#section-{{ section.id }}").find(".slick-initialized").length > 0) 
          $('#section-{{ section.id }}').find(".items").slick('unslick');
      }
      else {
        if ($("#section-{{ section.id }}").find(".slick-initialized").length == 0) 
          initInstagramSlick();
      }
    }    

  });

  function initInstagramSlick() {

    $('#section-{{ section.id }}').find(".items").slick({
      centerMode: false,
      infinite: false,
      centerPadding: '0px',
      slidesToShow: 4,
      arrows: false,
      variableWidth: true,
      variableHeight: true,
      responsive: [      
        {
          breakpoint: 1080,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 3
          }
        },      
        {
          breakpoint: 818,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 2 
          }
        },
        {
          breakpoint: 486,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 1 
          }
        }        
      ]
    }); 
   
  }
</script>  
</section>


{% schema %}
{
  "name": "Instagram",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "hashtag",
      "label": "hashtag"
    }    
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "link_image",
          "label": "Image"
        }
      ]
    }
  ],    
  "presets": [
    {
      "category": "CBMD",
      "name": "Instagram",
      "settings": {}
    }
  ]
}
{% endschema %}