<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="cbmd">  
  <div class="Highlights_products_container Highlights_container">
    <div class="Highlights_products">
      <div class="Highlights_products_items">

        {%- for block in section.blocks -%}
          {%- assign heading = block.settings.heading -%}
          {%- assign description = block.settings.description -%}
          {%- assign button_name = block.settings.button_name -%}
          {%- assign button_link = block.settings.button_link -%}
          {%- if heading != blank and description -%}

            <div class="Highlights_products_item">
              <div class="Highlights_products_content">
                <p class="Highlights_heading">{{- heading -}}</p>
                <div class="Highlights_description">{{ description }}</div>
                {%- if button_name and button_link -%}
                  <a href="{{ button_link }}" data-action="open-modal" aria-controls="modal-healthcare-providers"  class="Highlights_products_link Button Button--cbd Button--red">{{ button_name }}</a>                
                {%- endif -%}
              </div>
            </div>

          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>      
  </div>
</section>  

<script type="text/javascript">
  $(document).ready(function(){
    // initNoImageSlider();
    $( window ).resize(function() {
      // initNoImageSlider();   
    });
  });

  function initNoImageSlider() {
    if (window.innerWidth > 1096) {
      if ($("#section-{{ section.id }}").find(".Highlights_products").find(".slick-initialized").length > 0) 
        $("#section-{{ section.id }}").find('.Highlights_products_items').slick('unslick');
    }
    else {
      if ($("#section-{{ section.id }}").find(".Highlights_products").find(".slick-initialized").length == 0) 
        initNoImageSlick();
    }
  }

  function initNoImageSlick() {
    $("#section-{{ section.id }}").find('.Highlights_products_items').slick({
      centerMode: false,
      infinite: false,
      centerPadding: '0px',
      slidesToShow: 2,
      arrows: false,
      variableWidth: true,
      variableHeight: true,
      responsive: [
        {
          breakpoint: 1096,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 2
          }
        },        
        {
          breakpoint: 820,
          settings: {
            arrows: false,
            centerMode: false,
            centerPadding: '0px',
            slidesToShow: 1
          }
        }
      ]
    });    
  }
</script>

{% schema %}
{
  "name": "Slider",
  "settings": [
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },  
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_name",
          "label": "Button"
        },        
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }        
      ]
    }
  ],    
  "presets": [
    {
      "category": "CBMD",
      "name": "Slider",
      "settings": {}
    }
  ]
}
{% endschema %}